body {
	font-size:76%;
	font-family:"trebuchet MS", verdana, arial, sans-serif;
	background:#f0f0f0;
	word-wrap:break-word;
}

#header {
	background:#a31e39;
	}

#outer1 {
	float:left;
	width:130px;
	padding:10px;
	background:#e0d0d0;
}

#outer2 {
	background:#e0e0e0;
	margin-right:30%;
	margin-left:150px;
	padding:10px;
}

#outer3 {
	float:right;
	width:30%;
	background:#c0c0c0;
}

#outer1, #outer2, #outer3 {
	padding-bottom:32767px;
	margin-bottom:-32767px;
}

#wrapper {
	overflow:hidden;
	background:#c0c0c0;
}

#footer {
	clear:both;
	background:#455c5a;
}

.content {
	padding:10px;
}

h1 {
	font-size:20px;
	margin:0;
	padding:10px 0;
	color:#fff;
}

h3 {
	font-size:18px;
	margin:0;
	padding:8px 0;
}

p {
	font-size:12px;
	line-height:1.5em;
	margin:0;
	padding:5px 0;
}

#footer p,
#header p {color:#fff;}
#footer a {color:#fff;}
#footer a:hover {text-decoration:none;}

.item {
  border: 1px solid black;
  background-color: #ddddff;
  width: 100px;
  height: 100px;
}

#state1 {
  position: absolute;
  left: 100px;
  top: 100px;
}

#state2 {
  position: absolute;
  left: 250px;
  top: 100px;
}

#state3 {
  position: absolute;
  left: 100px;
  top: 250px;
}

#cube{
	position: relative;
	float: right;
	right: 5%;
}

#container{
	border: 2px solid black;
	background-color: lightslategray;
	width: 50%;
	height:80%;
	margin:35px;
	position: absolute;
}

.window {
    background-color: white;
    border: 3px solid #346789;
    color: black;
    font-family: helvetica;
    font-size: 0.8em;
    height: 12em;
    opacity: 0.8;
    padding: 0.5em;
    position: absolute;
    width: 14em;
    z-index: 20;
    text-align:center;
}

.dragActive {
    border: 3px solid #346789;
}
