body { 
	background-color: black;
	color: #FFCC00;
}

.table{
	display: table;
    width: 100%;
}

.row{
    display: table-row;
    text-align: center;
}

.right{
    display: table-cell;
    width: 40%;
}

#rightAlignLeft{
   text-align: Left; 
}


.center{
    display: table-cell;
    width: 20%;
}

.left{
    display: table-cell;
    width: 40%;
}

#leftAlignRight{
   text-align: right; 
}

.title {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

#SRScontainer {
    text-align: left;
}